{% extends "base.html" %}

{% block content %}

{% if errors %}
  <div class="alert alert-danger" role="alert">
    <strong>Errors:</strong>
    <ul class="list-unstyled">
        {% for err in errors %}
          <li>{{err}}</li>
        {% endfor %}
    </ul>
  </div>
{% endif %}

{% if not_auth_warn %}
  <div class="alert alert-danger" role="alert">Not authenticated</div>
{% endif %}

{% if success_slo %}
  <div class="alert alert-success" role="alert">Successfully logged out</div>
{% endif %}

{% if paint_logout %}
  {% if attributes %}
    <script type='text/javascript' src='https://10az.online.tableau.com/javascripts/api/viz_v1.js'></script>
      <div class='tableauPlaceholder' style='width: 1400px; height: 1024px;' align="left">
          <object class='tableauViz' width='1400' height='1024' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2F10az.online.tableau.com%2F' />
              <param name='embed_code_version' value='2' />
              <param name='site_root' value='&#47;t&#47;datar' />
              <param name='name' value='BizMI&#47;BizMI' />
              <param name='tabs' value='no' />
              <param name='toolbar' value='no' />
              <param name='showAppBanner' value='false' />
              <param name='showShareOptions' value='false' />
          </object>
      </div>
  {% else %}
    <div class="alert alert-danger" role="alert">You don't have any attributes</div>
  {% endif %}
{% endif %}

{% endblock %}
